* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html{
  scroll-behavior: smooth;
} */
.navbar {
  display: flex;
  justify-content: center;
  background-color: black;
}
.navbar ul {
  display: flex;
  margin: 20px 0px;
}
.navbar li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: medium;
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
}
.navbar ul li a:hover {
  list-style-type: none;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}
#home {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("7f2dd19c-fc74-488e-b157-6937216d56e9.jpg") no-repeat center
    center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 70%;
}
.heading {
  font-style: century;
  font-size: 2rem;
  text-align: center;
  margin: 40px 0px;
}
#portfolio h1 {
  margin-top: -30px;
}
/* .heading h1:last-of-type{
  margin-top: 20px;;
} */
.second-img {
  display: flexbox;
  flex-direction: column;
}
.btn {
  padding: 10px;
  border: 1px solid white;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 0 15px white 0 0 20px white 0 0 25px white;
  font-weight: bold;
}
#about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-color: black çççççççç;
  padding: 20px;
  margin-bottom: 50px;
}
#pic {
  display: flex;
}
#pic img {
  width: 575px;
  height: 400px;
  margin-bottom: 74px;
}
#intro {
  background-color: beige;
  margin-bottom: 74px;
}

/* #portfolio {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  align-items: center;
  padding: 20px;
} */
.flip-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 10px;
  padding: 10px;
  /* Remove this if you don't want the 3D effect */
}
.flip-card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 58px 10px 10px 10px;
  padding: 10px;
}
flip-card-one-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-one:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-one-front,
.flip-card-one-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-one-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-one-back {
  background-color: dodgerblue;
  color: rgb(101, 31, 194);
  transform: rotateY(180deg);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: rgb(101, 31, 194);
  transform: rotateY(180deg);
}
.flip-card-back li {
  list-style-type: none;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
figcaption {
  font-size: larger;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
/* section education */
#Education {
  background-color: beige;

}

.table-education {
  display:flex;
  flex-direction: column;
  width: 45%;
  padding: 40px 70px 10px 60px;
  height: 450px;
  margin: 70px 30px 40px;
  background-color: beige;
}
tr:hover {
  background-color: red;
}

/* Contact section */
#contact {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: beige;
}
.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}
.input {
  padding: 12x;
  margin: 15px;
  width: 30%;
  /* border:;
  outline: none; */
}
#msg {
  width: 50%;
  padding: 10px;
  margin: 15px;
}
#send {
  padding: 10px;
  width: 10%;
  margin: 40px;
  border: none;
  outline: none;
}
#send:hover {
  cursor: pointer;
  box-shadow: 0 0 10px white;
}
